node_modules/
.next/
out/
dist/
.env
.env.local
.env.*.local
.env.*
.env.example
!.env.example
.DS_Store
.vscode/
.idea/
.vercel

/src/generated/prisma

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript incremental build cache
*.tsbuildinfo

coverage/
CLAUDE.md
*.har